<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ProvisioningGlobalDeviceEndpoint" value="global.azure-devices-provisioning.net" />
    <add key="ProvisioningIdScope" value="0ne0071764D" />
    <add key="UseGroupSymmetricKey" value="true"/>
    <add key="DevicePrimaryKey" value="" />
    <add key="GroupSymmetricKey" value="MJG73+KZ65O8pG4KDK1g1p/fN456YDfWgITr63NBlg1IPumum+c5LO+FPA5CNkznqFXUXwM7Qw+4VKtHN+cung==" />
    <add key="SendTelemetryData" value="true"/>
  </appSettings>
</configuration>